@{
    ViewBag.Title = "Home Page";
}
<title>Home-Crystal Meditech</title>
<style type="text/css">
    .p-0 {
        padding: 0 !important;
    }

    section {
        display: block;
    }

    .botBox h3 {
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 15px;
        line-height: 36px;
    }

    .botBoxTitle span {
        font-weight: 300;
    }

    .readmore .arrow2 {
        transform: translate(8px,0px);
        color: #f9b101;
        font-size: 27px;
        margin: 0 0 0 -17px;
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
    }

    .botboxLink {
        position: absolute;
        right: 30px;
        bottom: 30px;
    }

    .readmore {
        color: #fff;
        display: inline-block;
    }

    .kfi {
        font-family: 'kf-icons';
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    .align-items-center {
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .w-100 {
        width: 100% !important;
        margin-top: 130px;
    }

    .kfi-arrow-right:before {
        content: "\f061";
    }
</style>
<!--
  ========================================
  STEP SLIDER AREA START FORM HERE
  ========================================
    -->
<div class="home-one-slider">
    <div class="slider-active-home-one owl-carousel" style="direction:ltr;">

        <div class="single-slide" style="background-image:url(/assets/images/slider/1.jpeg)">
            <div class="slider-table">
                <div class="slider-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slide-content text-center">
                                    <h2>BETTER SERVICE IS OUR MOTO</h2>
                                    @*<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>*@
                                    <a href="#!" class="btn-mr waves-effect waves-light">SEE MORE</a>
                                    <a href="/Services/ApplicationServices" class="btn-mr white waves-effect waves-teal">OUR SERVICES</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end single slider -->

        <div class="single-slide" style="background-image:url(/assets/images/slider/2.jpeg)">
            <div class="slider-table">
                <div class="slider-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slide-content text-center">
                                    <h2>BETTER SERVICE IS OUR MOTO</h2>
                                    @*<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>*@
                                    <a href="#!" class="btn-mr waves-effect waves-light">SEE MORE</a>
                                    <a href="/Services/ApplicationServices" class="btn-mr white waves-effect waves-teal">OUR SERVICES</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end single slider -->

        <div class="single-slide" style="background-image:url(/assets/images/slider/3.jpeg)">
            <div class="slider-table">
                <div class="slider-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slide-content text-center">
                                    <h2>BETTER SERVICE IS OUR MOTO</h2>
                                    @*<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>*@
                                    <a href="#!" class="btn-mr waves-effect waves-light">SEE MORE</a>
                                    <a href="/Services/ApplicationServices" class="btn-mr white waves-effect waves-teal">OUR SERVICES</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end single slider -->
    </div>
    <!-- slider active -->
</div>
<!--
========================================
STEP SLIDER AREA END FORM HERE
========================================
  -->
<!--
========================================
STEP SERVICES AREA START FORM HERE
========================================
-->


<div class="step-services section-pading">
    <div class="container">
        <div class="row">
            <a href="/Services/ApplicationServices">
                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1">
                        <i class="fa fa-desktop"></i>
                        <h2 class="services-title2"> Services </h2>
                        <p>To keep pace with the exponential growth of data and technology, it is critical to upgrade the IT...</p>
                    </div>
                </div>
            </a>
            <!-- end single services -->
            <a href="/Services/SoftwareDevelopment">
                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1">
                        <i class="fa fa-globe"></i>
                        <h2 class="services-title2">Products</h2>
                        <p>We are fully specialized in Travel Portal Development, offering Travel software, Travel Agency...</p>
                    </div>
                </div>
            </a>
            <!-- end single services -->
            <a href="/Services/ResourcesAugmentation">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="step-single-services  waves-effect waves-light-1">
                        <i class="fa fa-lightbulb-o"></i>
                        <h2 class="services-title2">Sales & Services</h2>
                        <p>Distinctive Innovations Travel Technology’s IT consulting team follows a holistic approach covering all..</p>
                    </div>
                </div>
            </a>
            <!-- end single services -->
            <a href="/Services/ProjectManagement">
                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1">
                        <i class="fa fa-empire"></i>
                        <h2 class="services-title2">Bio Medical Equipments</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                </div>
            </a>

            <!-- end single services -->
        </div>
    </div>
</div>

<!--
========================================
STEP ABOUT AREA START FORM HERE
========================================
-->
<div class="step-home-page-about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="our-mission-vission-rapper">
                    <div class="about-heading">
                        <h2 class="main-section-heading"><span class="sec-bar">Who</span> we are ?</h2>
                        <p>
                            As Crystal Meditech, we provide board level and component level services for Biomedical equipments. we have well qualified and immense experienced
                            professionals to do component level services. we believe in delivering quality service with less repair time to cope up with the urgent requirements
                            of hospital industry.
                        </p>
                    </div>
                    <!-- end about heading -->
                    <div class="big-spacer"></div>
                    <!-- end big spacer -->
                    <div class="mission-list">
                        <h3> Our Mission</h3>
                        <ul>
                            <li>
                                <i class="fa fa-angle-double-right"></i>To Provide exceptional facility management services that increase
                                client productivity to ensure accesible affordable quality health care
                            </li>

                        </ul>
                    </div>
                    <!-- mission list end -->
                    <div class="big-spacer"></div>
                    <!-- end big spacer -->
                    <div class="mission-list vission">
                        <h3>Our vision</h3>
                        <ul>
                            <li><i class="fa fa-angle-double-right"></i>Our Moto is to cultivate an environment of trust, honesty, mutual respect and ethics.</li>

                        </ul>
                    </div>
                    <!-- mission list end -->
                    <div class="big-spacer"></div>
                    <!-- end big spacer -->
                    <a href="#!" class="btn-mr waves-effect waves-light">MORE US</a>
                </div>
            </div>
            <!-- end colum -->
            <div class="col-md-5 mp-0  hidden-sm hidden-xs">
                <div class="about-img">
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP ABOUT AREA END FORM HERE
========================================
-->
<!--
========================================
STEP COUNTER UP  AREA START FORM HERE
========================================
-->
<div class="step-counterup" style="margin-top:50px;">
    <div class="counter-table">
        <div class="counter-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 stb-30 mbt-30">
                        <div class="single-counter">
                            <div class="counter-rapper">
                                <span class="counter">1300</span>
                            </div>
                            <span class="counter-text">DAYS OF EXPERIENCE</span>
                        </div>
                    </div>
                    <!-- end single counter -->
                    <div class="col-md-3 col-sm-6 col-xs-12 stb-30 mbt-30">
                        <div class="single-counter">
                            <div class="counter-rapper">
                                <span class="counter">1400</span>
                            </div>
                            <span class="counter-text">SATISFY CLIENT</span>
                        </div>
                    </div>
                    <!-- end single counter -->
                    <div class="col-md-3 col-sm-6 col-xs-12 mbt-30">
                        <div class="single-counter">
                            <div class="counter-rapper">
                                <span class="counter">1500</span>
                            </div>
                            <span class="counter-text">COMPLETE PROJECT</span>
                        </div>
                    </div>
                    <!-- end single counter -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-counter">
                            <div class="counter-rapper">
                                <span class="counter">1200</span>
                            </div>
                            <span class="counter-text">AWARDS WON</span>
                        </div>
                    </div>
                    <!-- end single counter -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP COUNTER UP  AREA END FORM HERE
========================================
-->
<!--
========================================
STEP PRODUCT CAROSEL AREA START FORM HERE
========================================
-->
<div class="step-product-carosel" style="margin-top:70px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="border-left: 2px solid #f0f0f0;border-right: 2px solid #f0f0f0;">
                <div class="product-carosel-active owl-carousel" style="direction:ltr;">
                    <div class="single-product">
                        <img src="~/assets/images/Clients/muttawiffyHujjaj.jpg" class="responsive-img" alt="">
                    </div>
                    <!-- end single product -->
                    <div class="single-product">
                        <img src="~/assets/images/Clients/arabian-oryx.jpg" class="responsive-img" alt="">
                    </div>
                    <!-- end single product -->
                    <div class="single-product">
                        <img src="~/assets/images/Clients/go-dubai.png" class="responsive-img" alt="">
                    </div>
                    <!-- end single product -->
                    <div class="single-product">
                        <img src="~/assets/images/Clients/orient-tours.jpg" class="responsive-img" alt="">
                    </div>
                    <!-- end single product -->
                    <div class="single-product">
                        <img src="~/assets/images/Clients/travzed.jpg" class="responsive-img" alt="">
                    </div>
                    <!-- end single product -->
                    <div class="single-product">
                        <img src="~/assets/images/Clients/voyage-tours.jpg" class="responsive-img" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP PRODUCT CAROSEL AREA END FORM HERE
========================================
-->
<!--
========================================
STEP TEAMONE AREA END FORM HERE
========================================
-->
<!--<div class="step-team-member section-pading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="main-section-heading">Our Aw<span class="sec-bar">esome</span> Team</h2>
                    <div class="middle-con">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod sint tempor incididunt ut labore et dolore magna aliqua. Excepteur occaecat cupidatat non proident.</p>
                    </div>
                </div>
            </div>-->
<!-- end section title -->
<!--</div>
<div class="row">
    <div class="team-active1 owl-carousel" style="direction:ltr;">
        <div class="col-md-4">
            <div class="single-team waves-effect waves-teal">
                <img src="~/assets/images/team/t1.jpg" alt="">
                <div class="hover-content-tem">
                    <div class="tem-hover-icon">
                        <a href="single-team.html"><i class="fa fa-link"></i></a>
                    </div>
                    <div class="tem-text">
                        <h3>JOHN SMITH</h3>
                        <h4>Project Planner</h4>
                    </div>
                    <ul class="tem-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>-->
<!-- single team -->
<!--<div class="col-md-4">
    <div class="single-team waves-effect waves-teal">
        <img src="~/assets/images/team/t2.jpg" alt="">
        <div class="hover-content-tem">
            <div class="tem-hover-icon">
                <a href="single-team.html"><i class="fa fa-link"></i></a>
            </div>
            <div class="tem-text">
                <h3>JOHN SMITH</h3>
                <h4>Project Planner</h4>
            </div>
            <ul class="tem-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
</div>-->
<!-- single team -->
<!--<div class="col-md-4">
    <div class="single-team waves-effect waves-teal">
        <img src="~/assets/images/team/t3.jpg" alt="">
        <div class="hover-content-tem">
            <div class="tem-hover-icon">
                <a href="single-team.html"><i class="fa fa-link"></i></a>
            </div>
            <div class="tem-text">
                <h3>JOHN SMITH</h3>
                <h4>Project Planner</h4>
            </div>
            <ul class="tem-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
</div>-->
<!-- single team -->
<!--</div>
        </div>
    </div>
</div>-->
<!--
========================================
STEP TEAMONE AREA END FORM HERE
========================================
-->
<!--
========================================
STEP TESTIMONIALS  AREA END FORM HERE
========================================
-->
<div class="step-testimoniuals">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testimonials-active owl-carousel" style="direction:ltr;">
                    <div class="single-testimonials">
                        <div class="testimonials-text-rapper">
                            <p>This distinction sets us apart and is a testament to our high standards of service and delivery”. Regency Travel & Tours has always been on the forefront of innovation. We have always pre-empted market requirements and been able to initiate new services and products successfully. Our efforts have always been to blend ourselves.</p>
                        </div>
                        <!-- end rapper -->
                        <div class="testimonials-image">
                            <img src="~/assets/images/testimonials/tareq-150x150.jpg" class="img-circle" alt="">
                        </div>
                        <div class="testimonials-author text-center">
                            <h4>Tareq Abdullatif Taha</h4>
                            <h5>CEO, Regency Travel & Tours, Qatar</h5>
                        </div>
                    </div>
                    <!-- end single testimonials -->
                    <div class="single-testimonials">
                        <div class="testimonials-text-rapper">
                            <p>I am pleased to be associated with Distinctive Innovations International, Their product ITINERARY is a one stop solutions for all operational needs of any DMC, Best part their product offering and roadmap are in line with the future needs of Arabian Oryx and we are happy of their professional support towards any hick-up faced by users.</p>
                        </div>
                        <!-- end rapper -->
                        <div class="testimonials-image">
                            <img src="~/assets/images/testimonials/gautam-150x150.jpg" class="img-circle" alt="">
                        </div>
                        <div class="testimonials-author text-center">
                            <h4>Gautam Dawra</h4>
                            <h5>Managing Partner, Arabian Oryx, Dubai</h5>
                        </div>
                    </div>
                    <!-- end single testimonials -->
                    <div class="single-testimonials">
                        <div class="testimonials-text-rapper">
                            <p>The distribution modules including B2B, B2C and GSA of Distinctive Innovation’s I-Itinerary have helped us in better distribution of our product worldwide. It’s niche technology has also helped us in streamlining our back-end operations. We have seen so many software packages but rarely do we come across one that delivers more than what it promises.</p>
                        </div>
                        <!-- end rapper -->
                        <div class="testimonials-image">
                            <img src="~/assets/images/testimonials/naveen.jpg" class="img-circle" alt="">
                        </div>
                        <div class="testimonials-author text-center">
                            <h4>Naveen Saldanha</h4>
                            <h5>Managing Director, Royal Arabian Tours, Dubai</h5>
                        </div>
                    </div>
                    <!-- end single testimonials -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP TESTIMONIALS  AREA END FORM HERE
========================================
-->
<!--
========================================
STEP BLOG AREA START FORM HERE
========================================
-->
<!--<div class="step-blog-area section-pading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="main-section-heading">Our L<span class="sec-bar">atest</span> News</h2>
                    <div class="middle-con">
                        <p>The release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop.</p>
                    </div>
                </div>
            </div>-->
<!-- end section title -->
<!--</div>
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 stb-30 mbt-30">
        <div class="single-blog">
            <a href="single-blog.html">
                <div class="blog-thumb">
                    <img src="~/assets/images/blog/b1.jpg" alt="">
                    <i class="fa fa-link"></i>
                    <div class="blog-time">
                        <span>24 SEP</span>
                    </div>-->
<!-- end blog time -->
<!--</div>-->
<!-- end blog thumb -->
<!--</a>
        <div class="blog-meta">
            <ul>
                <li>
                    <a href="#"> <i class="fa fa-user"></i>By Admin</a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-comments"></i>2 Comments</a>
                </li>
            </ul>
        </div>
        <article class="step-article">
            <a href="single-blog.html">
                <h2 class="blog-title">Finibus Bon et Malorum written Cicero</h2>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiselit sed do eiusmod tempor incididunt ut labore amet dolore magna aliqua.</p>
            <a href="single-blog.html" class="link-1">SEE MORE  <i class="fa fa-angle-double-right"></i></a>
        </article>
    </div>
</div>-->
<!-- end single blo -->
<!--<div class="col-md-4 col-sm-6 col-xs-12 stb-30 mbt-30">
    <div class="single-blog">
        <a href="single-blog.html">
            <div class="blog-thumb">
                <img src="~/assets/images/blog/b2.jpg" alt="">
                <i class="fa fa-link"></i>
                <div class="blog-time">
                    <span>24 SEP</span>
                </div>-->
<!-- end blog time -->
<!--</div>-->
<!-- end blog thumb -->
<!--</a>
        <div class="blog-meta">
            <ul>
                <li>
                    <a href="#"> <i class="fa fa-user"></i>By Admin</a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-comments"></i>2 Comments</a>
                </li>
            </ul>
        </div>
        <article class="step-article">
            <a href="single-blog.html">
                <h2 class="blog-title">Finibus Bon et Malorum written Cicero</h2>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiselit sed do eiusmod tempor incididunt ut labore amet dolore magna aliqua.</p>
            <a href="single-blog.html" class="link-1">SEE MORE  <i class="fa fa-angle-double-right"></i></a>
        </article>
    </div>
</div>-->
<!-- end single blo -->
<!--<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="single-blog">
        <a href="single-blog.html">
            <div class="blog-thumb">
                <img src="~/assets/images/blog/b3.jpg" alt="">
                <i class="fa fa-link"></i>
                <div class="blog-time">
                    <span>24 SEP</span>
                </div>-->
<!-- end blog time -->
<!--</div>-->
<!-- end blog thumb -->
<!--</a>
        <div class="blog-meta">
            <ul>
                <li>
                    <a href="#"> <i class="fa fa-user"></i>By Admin</a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-comments"></i>2 Comments</a>
                </li>
            </ul>
        </div>
        <article class="step-article">
            <a href="single-blog.html">
                <h2 class="blog-title">Finibus Bon et Malorum written Cicero</h2>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiselit sed do eiusmod tempor incididunt ut labore amet dolore magna aliqua.</p>
            <a href="single-blog.html" class="link-1">SEE MORE  <i class="fa fa-angle-double-right"></i></a>
        </article>
    </div>
</div>-->
<!-- end single blo -->
<!--</div>
    </div>
</div>-->
<!--
========================================
STEP BLOG AREA END FORM HERE
========================================
-->
