
@{
    ViewBag.Title = "B2B Travel Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .text-bold {
        font-weight: bold;
    }

    .our-mission-vission-rapper {
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .section-pading {
        padding: 50px !important;
    }

    .Arabic p {
        text-align: right !important;
    }

    .Eng p {
        text-align: left !important;
    }
</style>
<!--
========================================
STEP BREADCUMP AREA START FORM HERE
========================================
  -->
<div class="step-breadcump">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcump-text text-center">
                    <h2 class="text-capitalize"> Products</h2>
                    <ul>
                        <li><a href="/Home/Products">Products <span>/</span> </a></li>
                        <li class="active"><a href="#">B2B Travel Portal</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP BREADCUMP AREA END FORM HERE
========================================
  -->

    <div class="Eng">
        <div class="welcomestep section-pading" style="background:url(/assets/images/product/banner13.gif);background-size: cover;color:white !important ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="section-heading2"> <span class="sec-bar-2" style="color:white">B2B TRAVEL PORTAL </span> </h2>

                            <div class="text-left col-md-6">
                                <h3>
                                    B2B TRAVEL PORTAL
                                </h3>
                                <p>
                                    Online B2B booking portal with capabilities of selling direct contracts and XML contracts  for Hotel, AIR, Tours, Transfer, Car Hire, Excursion and Travel Insurance.
                                </p>
                                <p>
                                    It allows agents to securely access your live inventories, make reservations and issue instant confirmation for their end customers. Manage agent markups, margins, credit limits, commissions and other business rules on one platform.
                                </p>
                                <br />
                                <div><a class="has-radius-lg" href="/Home/Contact"> REQUEST FOR DEMO  </a></div>
                            </div>
                            <div class="col-md-5 mp-0  hidden-sm hidden-xs">

                                <img src="~/assets/images/product/b2bTravelPortal.png" width="100%" height="100%" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="welcomestep section-pading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our-mission-vission-rapper" style="display:grid">
                            <div class="about-heading">
                                <h2 class="main-section-heading"><span class="sec-bar">Key Features </span> </h2>
                            </div>
                            <!-- end about heading -->
                            <!-- end big spacer -->
                            <div class="mission-list">
                                <div class="col-md-6">
                                    <ul>
                                        <li><i class="fa fa-angle-double-right"></i>Add unlimited agents and manage agent’s data.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Multiple products to sell.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Ticket issuance and post booking management.</li>                                       
                                        <li> <i class="fa fa-angle-double-right"></i>Set credit limit and deposits.</li>
                                        <li> <i class="fa fa-angle-double-right"></i>Accounting management and manage markups.</li>
                                         

                                    </ul>
                                </div>

                                <div class="col-md-6">
                                    <ul>
                                        <li><i class="fa fa-angle-double-right"></i>B2B agent dashboard.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Web booking management.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Integrated shopping cart and payment gateways.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Manage payment and credit accounts of subagents.</li>
                                        <li><i class="fa fa-angle-double-right"></i>MIS reports for administrator and agents.</li>
                                   

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      

    </div>






