
@{
    ViewBag.Title = "Corporate Booking Engine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .text-bold {
        font-weight: bold;
    }

    .our-mission-vission-rapper {
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .section-pading {
        padding: 50px !important;
    }

    .Arabic p {
        text-align: right !important;
    }

    .Eng p {
        text-align: left !important;
    }
</style>
<!--
========================================
STEP BREADCUMP AREA START FORM HERE
========================================
  -->
<div class="step-breadcump">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcump-text text-center">
                    <h2 class="text-capitalize"> Products</h2>
                    <ul>
                        <li><a href="/Home/Products">Products <span>/</span> </a></li>
                        <li class="active"><a href="#">Corporate Booking Engine</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP BREADCUMP AREA END FORM HERE
========================================
  -->


<div class="Eng">
    <div class="welcomestep section-pading" style="background:url(/assets/images/product/banner6.jpg);background-size: cover;color:white !important ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="section-heading2"> <span class="sec-bar-2" style="color:white">Corporate Booking Engine </span> </h2>

                        <div class="text-left col-md-6">
                            <h3>
                                Corporate Booking Engine
                            </h3>
                            <p>
                                An ideal solution for both the Corporation and the Travel Offices – TMC (Travel Management Company). This tool allows the users to search and book trips, define travel policies and approval workflows.
                            </p>
                            <br />
                            <div><a class="has-radius-lg" href="/Home/Contact"> REQUEST FOR DEMO  </a></div>
                        </div>
                        <div class="col-md-5 mp-0  hidden-sm hidden-xs">

                            <img src="~/assets/images/product/cbtPrdct.png" width="100%" height="100%" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="welcomestep section-pading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="our-mission-vission-rapper" style="display:grid">
                        <div class="about-heading">
                            <h2 class="main-section-heading"><span class="sec-bar">Key Features </span> </h2>
                        </div>
                        <!-- end about heading -->
                        <!-- end big spacer -->
                        <div class="mission-list">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-angle-double-right"></i>Fast search & book.</li>
                                    <li><i class="fa fa-angle-double-right"></i>User friendly interface.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Advanced user profiles.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Complete Approval workflows.</li>

                                </ul>
                            </div>

                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-angle-double-right"></i>Complete Travel policy Management.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Customize account set-up and user control.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Advance reporting for reconciliations.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Automated policy validation.</li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>







