
@{
    ViewBag.Title = "DMC ERP Solution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .text-bold {
        font-weight: bold;
    }

    .our-mission-vission-rapper {
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section-pading {
        padding: 50px !important;
    } 

    .Arabic p {
        text-align: right !important;
    }

    .Eng p {
        text-align: left !important;
    }
</style>
<!--
========================================
STEP BREADCUMP AREA START FORM HERE
========================================
  -->
<div class="step-breadcump">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcump-text text-center">
                    <h2 class="text-capitalize"> Products</h2>
                    <ul>
                        <li><a href="/Home/Products">Products <span>/</span> </a></li>
                        <li class="active"><a href="#">DMC ERP Solution</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP BREADCUMP AREA END FORM HERE
========================================
  -->


<div class="Eng">
    <div class="welcomestep section-pading" style="background:url(/assets/images/product/banner11.jpg);background-size: cover;color:white !important ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="section-heading2"> <span class="sec-bar-2" style="color:white">ITINERARY </span> </h2>

                        <div class="text-left col-md-6">
                            <h3>
                                DMC – ERP Solution
                            </h3>
                            <p>
                                Itinerary is built for end to end automation of destination management companies, tour operators and wholesalers.
                                It automates contracting of Hotels, Tours, Transfer, VISA and Car Hire with user friendly rate entry screen.
                            </p>
                            <br />
                            <div><a class="has-radius-lg" href="/Home/Contact"> REQUEST FOR DEMO  </a></div>
                        </div>
                        <div class="col-md-5 mp-0  hidden-sm hidden-xs">

                            <img src="~/assets/images/product/itenaryPrdct.png" width="100%" height="100%" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="step-home-page-about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="our-mission-vission-rapper" style="display:grid">
                        <div class="about-heading">
                            <h2 class="main-section-heading"><span class="sec-bar">Key Features </span> </h2>
                        </div>
                        <!-- end about heading -->
                        <!-- end big spacer -->
                        <div class="mission-list">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-angle-double-right"></i>Customer and Supplier Management.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Contracted rates entry module.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Product Profiling.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Offer and Promotion Management.</li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Mark-up Management.
                                    </li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Multiple channels of distribution like B2B, B2C and API out.
                                    </li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Back office and ground Operations Management.

                                    </li>

                                </ul>
                            </div>

                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-angle-double-right"></i>Credit Analysis and Management.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Integrated with Accounting module.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Issue Invoice and Voucher.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Facility to switch Suppliers.</li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Ground Handling Execution.
                                    </li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Business Intelligence Report.
                                    </li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Supplier and Customer Reconciliation Report.

                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="welcomestep section-pading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="our-mission-vission-rapper">
                            <!-- mission list end -->
                            <!-- end big spacer -->
                            <h3>
                                Itinerary is a Perfect Solution for :
                            </h3>
                            <div class="mission-list vission">

                                <ul>
                                    <li><i class="fa fa-angle-double-right"></i>Travel Management Companies.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Business Travel Agencies.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Leisure Travel Agencies.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Online Travel Agencies.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Travel Management Companies.</li>
                                    <li><i class="fa fa-angle-double-right"></i>Single-site Travel Agencies.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- end colum -->
                    <div class="col-md-5 mp-0  hidden-sm hidden-xs">

                        <img src="~/assets/images/product/itenary.jpg" width="100%" height="100%" />

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="step-services section-pading" style="background:url(/assets/images/product/banner12.gif);background-size: cover;color:white !important ">
        <div class="container">
            <div class="row">
                <h2 class="section-heading2" style="text-align:center;color:white !important">
                    Destination Management Solution
                </h2>

                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1" style="min-height: 200px;">
                        <i class="fa fa-desktop"></i>
                        <h2 class="services-title2">Contracting Modules</h2>
                    </div>
                </div>

                <!-- end single services -->



                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1" style="min-height: 200px;">
                        <i class="fa fa-lightbulb-o"></i>
                        <h2 class="services-title2">B2B Travel Portal</h2>
                    </div>
                </div>

                <!-- end single services -->

                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1" style="min-height: 200px;">
                        <i class="fa fa-empire"></i>
                        <h2 class="services-title2">B2C Travel Portal</h2>
                    </div>
                </div>

                <!-- end single services -->

                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1" style="min-height: 200px;">
                        <i class="fa fa-mobile"></i>
                        <h2 class="services-title2">Back Office System </h2>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1" style="min-height: 200px;">
                        <i class="fa fa-globe"></i>
                        <h2 class="services-title2">Ground Handling</h2>
                    </div>
                </div>

                <!-- end single services -->

                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1" style="min-height: 200px;">
                        <i class="fa fa-question-circle"></i>
                        <h2 class="services-title2">Financial Accounting</h2>
                    </div>
                </div>

                <!-- end single services -->



                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1" style="min-height: 200px;">
                        <i class="fa fa-users"></i>
                        <h2 class="services-title2">API Distribution</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                    <div class="step-single-services  waves-effect waves-light-1" style="min-height: 200px;">
                        <i class="fa fa-users"></i>
                        <h2 class="services-title2">BI Reporting</h2>
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-3" style="padding-bottom:50px">
                    @*<div class="col-md-4 col-sm-4 col-xs-12 stb-30">
                <div class="step-single-services  waves-effect waves-light-1" style="min-height: 200px;">
                    <i class="fa fa-users"></i>
                    <h2 class="services-title2">Payment Management</h2>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 stb-30">
                <div class="step-single-services  waves-effect waves-light-1" style="min-height: 200px;">
                    <i class="fa fa-users"></i>
                    <h2 class="services-title2">Financial Accounting</h2>
                </div>
            </div>*@
                </div>
                <!-- end single services -->
            </div>
        </div>
    </div>


</div>




