
@{
    ViewBag.Title = "Travel Agency ERP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .text-bold {
        font-weight: bold;
    }

    .our-mission-vission-rapper {
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .section-pading {
        padding: 50px !important;
    }

    .Arabic p {
        text-align: right !important;
    }

    .Eng p {
        text-align: left !important;
    }

    .step-single-services {
        background: #ffffff none repeat scroll 0 0;
        padding: 25px 25px;
        border-radius: 4px;
    }

        .step-single-services i.fa {
            margin-top: 30px;
            font-size: 55px;
            color: #1245a8;
        }

    .services-title2 {
        padding-top: 10px;
    }
    .step-single-services:after {
        border-right: 2px solid #ff871d;
        border-left: 2px solid #ff871d;
        -webkit-transform: scale(1,0);
        transform: scale(1,0);
    }

    .step-single-services:before, .step-single-servicesl:after {
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        content: '';
        opacity: 0;
        -webkit-transition: opacity .35s,-webkit-transform .35s;
        transition: opacity .35s,transform .35s;
    }
    .sec-bar-2::before {
        background: #97adfc !important;
    }
</style>
<!--
========================================
STEP BREADCUMP AREA START FORM HERE
========================================
  -->
<div class="step-breadcump">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcump-text text-center">
                    <h2 class="text-capitalize"> Products</h2>
                    <ul>
                        <li><a href="/Home/Products">Products <span>/</span> </a></li>
                        <li class="active"><a href="#">Travel Agency ERP Solution</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP BREADCUMP AREA END FORM HERE
========================================
  -->


    <div class="Eng">

        <div class="welcomestep section-pading" style="background:url(/assets/images/product/banner3.jpg);background-size: cover;color:white !important ">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center ">
                            <h2 class="section-heading2" style="font-size: 34px;text-align: left;"> <span class="sec-bar-2" style="color:white">TASSPRO </span> </h2>

                            <div class="text-left col-md-6">
                                <h3>
                                    Travel Agency ERP Solution
                                </h3>
                                <p>
                                    TassPRO is Global Innovation’s flagship product for Travel Agencies. It automates Procurement, Front desk staff operations including Customer profiling, Sales, Cashier Process, Quotation Management with ability to create multiple iterations, Booking Management and Accounting.
                                </p>
                                <br />
                                <div><a class="has-radius-lg" href="/Home/Contact"> REQUEST FOR DEMO  </a></div>
                            </div>
                            <div class="col-md-5 mp-0  hidden-sm hidden-xs">

                                <img src="~/assets/images/product/tassproPrdct.png" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="welcomestep section-pading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our-mission-vission-rapper" style="display:grid">
                            <div class="about-heading">
                                <h2 class="main-section-heading"><span class="sec-bar">Key Features </span> </h2>
                            </div>
                            <!-- end about heading -->
                            <!-- end big spacer -->
                            <div class="mission-list">
                                <div class="col-md-6">
                                    <ul>
                                        <li><i class="fa fa-angle-double-right"></i>Integrated with Amadeus, Travelport and Sabre.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Airline Ancillary Services.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Corporate fare & Special Deals.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Airline Aggregators and Direct Connections.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Ready to use 50 plus API.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Integrated with Tours, Transfer, Visa & Insurance.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Ticket Issuance and Post booking management.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Cashier Workflow.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Integrated with Accounting Module.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Integrated with Itinerary for Private Rates.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Quotation Automation.</li>
                                        <li><i class="fa fa-angle-double-right"></i>Web Booking Management.</li>
                                    </ul>
                                </div>

                                <div class="col-md-6" style="opacity:20">
                                    <img src="~/assets/images/product/tasspro1.jpg" width="100%" height="100%" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="step-services section-pading" style="background:url(/assets/images/product/banner12.gif);background-size: cover;color:white !important ">
            <div class="container">
                <div class="row">
                    <h2 class="section-heading2" style="text-align:center;color:white !important;line-height:35px;">
                        “TassPRO” is the latest addition to the array of turnkey solutions for automation
                        of Travel & Tourism companies.
                    </h2>

                    <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                        <div class="step-single-services  waves-effect waves-light-1" style="min-height: 150px;">
                            <i class="fa fa-desktop"></i>
                            <h2 class="services-title2">Admin / Control Panel</h2>
                        </div>
                    </div>

                    <!-- end single services -->

                    <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                        <div class="step-single-services  waves-effect waves-light-1" style="min-height: 150px;">
                            <i class="fa fa-globe"></i>
                            <h2 class="services-title2">B2E (POS)</h2>
                        </div>
                    </div>

                    <!-- end single services -->

                    <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                        <div class="step-single-services  waves-effect waves-light-1" style="min-height: 150px;">
                            <i class="fa fa-lightbulb-o"></i>
                            <h2 class="services-title2">B2B Travel Portal</h2>
                        </div>
                    </div>

                    <!-- end single services -->

                    <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                        <div class="step-single-services  waves-effect waves-light-1" style="min-height: 150px;">
                            <i class="fa fa-empire"></i>
                            <h2 class="services-title2">B2C Travel Portal</h2>
                        </div>
                    </div>

                    <!-- end single services -->



                    <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                        <div class="step-single-services  waves-effect waves-light-1" style="min-height: 150px;">
                            <i class="fa fa-question-circle"></i>
                            <h2 class="services-title2">Corporate Booking Engine</h2>
                        </div>
                    </div>

                    <!-- end single services -->

                    <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                        <div class="step-single-services  waves-effect waves-light-1" style="min-height: 150px;">
                            <i class="fa fa-mobile"></i>
                            <h2 class="services-title2">Back Office System </h2>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                        <div class="step-single-services  waves-effect waves-light-1" style="min-height: 150px;">
                            <i class="fa fa-users"></i>
                            <h2 class="services-title2">API Distribution</h2>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 stb-30">
                        <div class="step-single-services  waves-effect waves-light-1" style="min-height: 150px;">
                            <i class="fa fa-sticky-note"></i>
                            <h2 class="services-title2">BI Reporting</h2>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-3" style="padding-bottom:50px">
                        <div class="col-md-4 col-sm-4 col-xs-12 stb-30">
                            <div class="step-single-services  waves-effect waves-light-1" style="min-height: 150px;">
                                <i class="fa fa-dollar"></i>
                                <h2 class="services-title2">Payment Management</h2>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 stb-30">
                            <div class="step-single-services  waves-effect waves-light-1" style="min-height: 150px;">
                                <i class="fa fa-address-card"></i>
                                <h2 class="services-title2">Financial Accounting</h2>
                            </div>
                        </div>
                    </div>
                    <!-- end single services -->
                </div>
            </div>
        </div>

    </div>



