@{
    ViewBag.Title = "About";
}
<title>About-Crystal Meditech</title>
<!--
========================================
STEP BREADCUMP AREA START FORM HERE
========================================
  -->
<div class="step-breadcump">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcump-text text-center">
                    <h2> ABOUT US</h2>
                    <ul>
                        @*<li><a href="/Home/Index">Home <span>/</span> </a></li>
                            <li class="active"><a href="#">About Us </a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP BREADCUMP AREA END FORM HERE
========================================
  -->
<!--
========================================
WELCOME TO Distinctive Innovations AREA START FORM HERE
========================================
-->
<div class="welcomestep section-pading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="section-heading2">Making <span class="sec-bar-2"> Healthcare  </span>  Safe and Hygenic</h2>

                    <div class="middle-con">
                        <h3 class="section-heading2">Company Overview</h3>
                        <p>
                            As Crystal Meditech, we provide board level and component level services for biomedical equipment. we have well qualified and immense experienced professionals to do component level services.
                            <br />
                            Crystal Meditech is the manufacturers of customised surgery pack and pre-designed drapes, wraps for healthcare industry.
                            <br />
                            Crystal Meditech provide all Brands of ECG machine cables, Monitor cables, SPO2 probes, Diathermy probes, NIBP cuffs, Medical batteries, Printer Paper/Rolls etc .. .
                            <br />
                            We beleive in delivering quality service with less repair time to cope up with the urgent requirements of hospital industry.

                        </p>
                    </div>
                    <a href="/Services/ApplicationServices" class="btn-mr waves-effect waves-light">OUR SERVICES</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
WELCOME TO Distinctive Innovations AREA END FORM HERE
========================================
-->
<!--
========================================
STEP ABOUT AREA START FORM HERE
========================================
-->
<div class="step-home-page-about home-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mp-0  hidden-sm hidden-xs">
                <div class="about-img change-bg-2">
                </div>
            </div>
            <!-- end colum -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="skillst">
                    <div class="section-title">
                        <h2 class="section-heading2"><span class="sec-bar-2">WHAT W</span>E CAN DO</h2>
                        @*<p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil</p>*@
                    </div>
                    <div class="progress-title" style="width: 100% !important;"><span>Biomedical Equipment Sales & Services</span></div>
                    <div class="progress" data-percent="90%">
                        <span class="progress-bar"></span>
                    </div>
                    <div class="progress-title"><span>Manufacturers of Disposables</span></div>
                    <div class="progress " data-percent="90%">
                        <span class="progress-bar"></span>
                    </div>
                    <div class="progress-title"><span>Manufacturers of Hospital Furnitures</span></div>
                    <div class="progress " data-percent="90%">
                        <span class="progress-bar"></span>
                    </div>
                    <div class="progress-title"><span>Supply Surgicals</span></div>
                    <div class="progress" data-percent="90%">
                        <span class="progress-bar"></span>
                    </div>
                    <div class="progress-title"><span>Lab Reagents & Solutions</span></div>
                    <div class="progress" data-percent="90%">
                        <span class="progress-bar"></span>
                    </div>
                </div>
                <!-- `end skillest -->
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP ABOUT AREA END FORM HERE
========================================
-->
<!--
========================================
STEP SERVICES AREA START FORM HERE
========================================
-->
<div class="step-services section-pading home-two">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 stb-30 mbt-30">
                <div class="step-single-services waves-effect waves-light">
                    <i class="fa fa-comments"></i>
                    <h2 class="services-title2">Our Services</h2>
                    <p> Temporibus autem quibusdam autis rerum necessitatibus saepe eveniet tates repudiandae.</p>
                </div>
            </div>
            <!-- end single services -->
            <div class="col-md-3 col-sm-6 col-xs-12 stb-30 mbt-30">
                <div class="step-single-services waves-effect waves-light">
                    <i class="fa fa-users"></i>
                    <h2 class="services-title2">Products</h2>
                    <p> Temporibus autem quibusdam autis rerum necessitatibus saepe eveniet tates repudiandae.</p>
                </div>
            </div>
            <!-- end single services -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="step-single-services waves-effect waves-light">
                    <i class="fa fa-pencil"></i>
                    <h2 class="services-title2">Sales & Services</h2>
                    <p> Temporibus autem quibusdam autis rerum necessitatibus saepe eveniet tates repudiandae.</p>
                </div>
            </div>
            <!-- end single services -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="step-single-services waves-effect waves-light">
                    <i class="fa fa-group"></i>
                    <h2 class="services-title2">BioMedical Equipments</h2>
                    <p> Temporibus autem quibusdam autis rerum necessitatibus saepe eveniet tates repudiandae.</p>
                </div>
            </div>

            <!-- end single services -->
        </div>
    </div>
</div>

