
@{
    ViewBag.Title = "Resources Augmentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .text-bold {
        font-weight: bold;
    }

    .our-mission-vission-rapper {
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .section-pading {
        padding: 50px !important;
    }

    .Arabic p {
        text-align: right !important;
    }

    .Eng p {
        text-align: left !important;
    }
</style>
<!--
========================================
STEP BREADCUMP AREA START FORM HERE
========================================
  -->
<div class="step-breadcump">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcump-text text-center">
                    <h2 class="text-capitalize"> Services</h2>
                    <ul>
                        <li><a href="/Home/Index">Home <span>/</span> </a></li>
                        <li class="active"><a href="#">Resources Augmentation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP BREADCUMP AREA END FORM HERE
========================================
  -->

<div class="Eng">
    <div class="welcomestep section-pading" style="background:url(/assets/images/product/itConsulting.jpg);background-size: cover;color:white !important ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="section-heading2"> <span class="sec-bar-2" style="color:white">Technology Consulting Services</span> </h2>

                        <div class="text-left col-md-12">
                            <h3>
                                Resources Augmentation
                                
                            </h3>
                            <p>
                                Distinctive Innovation’s IT consulting team follows a holistic approach covering all IT aspects in the existing business processes, identify gaps, and create strategic imperatives for digital transformation. We help organizations better understand disruptive technologies, implement agile design principles, and take a strategic approach to disruptive technologies.
                            </p>
                            <p>
                                The goal is to help companies focus on business process design, strategize and implement policies for continuous improvement and automation. Our consulting practice offers following services.
                            </p>
                            <br />

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <div class="welcomestep section-pading" style="background:url(/assets/images/product/technology.png);background-repeat:no-repeat">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-4 mp-0  hidden-sm hidden-xs">

                       @*<img src="~/assets/images/product/technology.png" height="400"  />*@

                    </div>

                    <div class="col-md-8" style="margin-bottom:80px">
                        <div class="our-mission-vission-rapper">
                            <!-- mission list end -->
                            <!-- end big spacer -->
                            <h3>
                                Our structured approach to IT consulting includes:
                            </h3>
                            <div class="mission-list vission">

                                <ul>
                                    <li><i class="fa fa-check-circle"></i>Identifying gaps to creating strategic imperatives for digital transformation</li>
                                    <li><i class="fa fa-check-circle"></i>Application Development and Conceptualization</li>
                                    <li><i class="fa fa-check-circle"></i>Business Process Transformation</li>
                                    <li><i class="fa fa-check-circle"></i>Travel System Procurement</li>
                                    <li><i class="fa fa-check-circle"></i>Technology Implementation</li>
                                    <li><i class="fa fa-check-circle"></i>Travel Process Automation</li>
                                    <li><i class="fa fa-check-circle"></i>Database Management</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- end colum -->

                </div>
            </div>
        </div>
    </div>





</div>









