
@{
    ViewBag.Title = "SoftwareDevelopment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .text-bold {
        font-weight: bold;
    }

    .our-mission-vission-rapper {
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .Arabic p {
        text-align: right !important;
    }

    .Eng p {
        text-align: left !important;
    }
</style>
<!--
========================================
STEP BREADCUMP AREA START FORM HERE
========================================
  -->
<div class="step-breadcump">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcump-text text-center">
                    <h2 class="text-capitalize"> Services</h2>
                    <ul>
                        <li><a href="/Home/Index">Home <span>/</span> </a></li>
                        <li class="active"><a href="#">Software Development</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
========================================
STEP BREADCUMP AREA END FORM HERE
========================================
  -->

    <div class="Eng">
        <div class="welcomestep section-pading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="section-heading2">Software  <span class="sec-bar-2"> Development</span> </h2>

                            <div class="text-left">
                                <p>
                                    DI is enabling businesses to strategize, develop and implement applications while aligning their application development needs with their digital transformation goals. This is opening up new revenue streams for our clients in this digital age, while ensuring business efficiency.

                                    <br /><br />
                                    As market forces change the way we do business, the way companies spend on IT is also changing. With emerging applications on the cloud, the explosion of mobility, and the convergence of computing, businesses across industries are looking for custom application development solutions to support their individual business needs.
                                    <br /><br />
                                    DI helps organizations effectively manage their application portfolio through customizable solutions. We empower our clients with transformational value by leveraging our proven deployment techniques and industry best practices to create change-the-business, run-the-business and cross-functional IT solutions. We are a leader in helping organizations stay on the cutting edge by developing robust applications that are scalable, secure and easily maintainable.
                                </p>
                                <p>
                                    DI’s Custom Application Development services are supported by deep industry expertise, supporting both modern and legacy platforms. Modern application development platforms supported include .Net and Java, PaaS (Azure, Amazon Web Services and Salesforce Automation) as well as mobile platforms like Android, iOS and Windows.

                                </p>
                                <p>
                                    DI provides a comprehensive range of custom application development services that enable enterprises to exploit the power of custom applications to support new capabilities and enhance the customer and partner experience.
                                </p>
                                <br /><br />
                                      <center><img style="height:328px;" src="~/assets/images/softwaredevelopment-process1.png" /></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="step-home-page-about">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="our-mission-vission-rapper">
                            <div class="about-heading">
                                <h2 class="main-section-heading"><span class="sec-bar">DI Technical </span> Capabilities</h2>
                            </div>
                            <!-- end about heading -->
                            <div class="big-spacer"></div>
                            <!-- end big spacer -->
                            <div class="mission-list">
                                <ul>
                                    <li><i class="fa fa-angle-double-right"></i><span class="text-bold">Comprehensive Development Services :</span>We provide complete end to end application development services across a number of engagement models needed to support the conceptualization, development, deployment, administration, maintenance and enhancement of IT systems.</li>
                                    <li><i class="fa fa-angle-double-right"></i><span class="text-bold">Technical Expertise :</span> DI supports a diverse technology landscape from modern application platforms such as Azure and iOS to traditional legacy platforms such as IBM and HP mainframes.</li>
                                    <li><i class="fa fa-angle-double-right"></i><span class="text-bold">Deep Industry Knowledge :</span>DI brings expertise and domain experience across key industry verticals including Travel Services, Consumer Services, Human Resource, Logistics, and Manufacturing Services.</li>
                                    <li><i class="fa fa-angle-double-right"></i><span class="text-bold"> ​Comprehensive ADM Services :</span>We deliver a full range of change-the-business, run-the-business, and cross-functional IT application services that are scalable, robust, secure, and maintainable</li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i><span class="text-bold">Domain Knowledge:</span>  Clients benefit from our deep industry domain knowledge and technical expertise to deliver transformational results. DI’s applications services are industrialized to reduce costs and increase predictability and agility.
                                    </li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i><span class="text-bold">Investment in Solutions:</span>Our sustainable investment in innovative solutions ensures that our clients benefit from the latest accelerators, methodologies and engagement models tailored to meet their changing needs.
                                    </li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i><span class="text-bold">A Focus on Results:</span> We provide clients with ADM services and solutions that deliver real value. We offer a range of services from the development of initial application requirements to the global management of the entire application portfolio. Throughout the project lifecycle, our focus is on the organization and providing measurable results.

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-home-page-about">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7">
                        <div class="our-mission-vission-rapper">
                            <!-- mission list end -->
                            <div class="big-spacer"></div>
                            <!-- end big spacer -->
                            <div class="mission-list vission">
                                <h3>
                                    Offerings
                                </h3>
                                <ul>
                                    <li><i class="fa fa-angle-double-right"></i>Strategic consulting services provided by DI’sCenter of Excellence (CoE) consisting of techno-functional consultants and developers</li>
                                    <li><i class="fa fa-angle-double-right"></i>Comprehensive Application Development services covering the complete application development lifecycle, spanning design, development, testing, deployment and support of applications</li>
                                </ul>
                            </div>
                            <!-- mission list end -->
                            <div class="big-spacer"></div>
                            <!-- end big spacer -->
                            <div class="mission-list vission">
                                <h3>
                                    We Provide
                                </h3>
                                <ul>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Custom software application development
                                    </li>
                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Web-based, client/server application development
                                    </li>

                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Open source based application development

                                    </li>

                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Integration services ensuring seamless integration of developed applications with existing enterprise applications such as BI, ERP, CRM and more, in client's IT environment

                                    </li>

                                    <li>
                                        <i class="fa fa-angle-double-right"></i>Managed support services including L1, L2 & L3 managed support, on-demand services and change management requests

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end colum -->
                    <div class="col-md-5 mp-0  hidden-sm hidden-xs">
                        <div class="about-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

